includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    paths:
        - src
        - tests
    # The level 8 is the highest level
    level: 6
    reportStaticMethodSignatures: true
    parallel:
        jobSize: 20
        maximumNumberOfProcesses: 32
        minimumNumberOfJobsPerProcess: 2
