includes:
    - ./vendor/larastan/larastan/extension.neon
parameters:
    paths:
        - src
        - tests

    level: 7
    reportStaticMethodSignatures: true
    parallel:
        jobSize: 20
        maximumNumberOfProcesses: 32
        minimumNumberOfJobsPerProcess: 2
